<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebReminderApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>com.riyaReminder.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/LoginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.riyaWeb.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAccount</display-name>
    <servlet-name>RegisterAccount</servlet-name>
    <servlet-class>com.riyaWeb.RegisterAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAccount</servlet-name>
    <url-pattern>/RegisterAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRem</display-name>
    <servlet-name>AddRem</servlet-name>
    <servlet-class>com.riyaWeb.AddRem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRem</servlet-name>
    <url-pattern>/AddRem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRem</display-name>
    <servlet-name>DeleteRem</servlet-name>
    <servlet-class>com.riyaWeb.DeleteRem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRem</servlet-name>
    <url-pattern>/DeleteRem</url-pattern>
  </servlet-mapping>
</web-app>